<div mat-dialog-content>
  <p>Reset your password</p>
  <mat-form-field appearance="outline" *ngIf="!submitted">
    <mat-label>Your email</mat-label>
    <input matInput type="email" name="email" [(ngModel)]="email">
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="submitted">
    <mat-label>New password</mat-label>
    <input matInput type="password" name="newPassword" [(ngModel)]="newPassword">
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="submitted">
    <mat-label>Code from email</mat-label>
    <input matInput type="text" name="code" [(ngModel)]="code">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="requestCode()" style="background-color: #24ED80;" *ngIf="!submitted">Request code</button>
  <button mat-button (click)="applyCode()" style="background-color: #24ED80;" *ngIf="submitted">Apply code</button>
</div>
