<div class="app-ride-page"> 

    
    <div class="app-ride-col-middle">
        <h2 *ngIf="ride.id != 0"> Currently {{status}} ride <mat-icon>directions_car</mat-icon></h2>
        <p class="app-ride-details" *ngIf="ride.id != 0"> <mat-icon>location_on</mat-icon> From departure address: {{ride.locations[0].departure.address}}</p>
        <div class="app-ride-map-container">
            <app-map></app-map>
        </div>
    </div>

    <div class="app-ride-col-middle app-ride-details" *ngIf="ride.id != 0">
        
        <div class="app-ride-details-panic">
            <button *ngIf="status=='active'" mat-button id="panic-ride-btn" mat-raised-button (click)="panicRide()">PANIC</button>

        </div>

        <div class="app-ride-details-col-left">
            <p class="app-ride-details"> <mat-icon>location_searching</mat-icon> Destination: {{ride.locations[0].destination.address}}</p>
            <p class="app-ride-details"> Time Elapsed: {{time_elapsed}}min </p>
            <p *ngIf="ride.estimatedTimeInMinutes != undefined"> Estimated {{ride.estimatedTimeInMinutes - time_elapsed}} minutes left </p>
            <p class="app-ride-details"> Kilometers travelled: {{kilometers_travelled}}km </p>

        </div>
        <div class="app-ride-details-col-right">
            <p class="app-ride-details">{{ride.totalCost}} RSD</p>
        </div>
        <div class="app-ride-col-middle">
            <button mat-button *ngIf="status=='accepted'" id="start-ride-btn" mat-raised-button>START RIDE</button>
        </div>
        <div class="app-ride-col-middle">
            <button mat-button *ngIf="status=='accepted'" id="cancel-ride-btn" mat-raised-button>CANCEL RIDE</button>
        </div>
        <button mat-button *ngIf="status=='active'" id="end-ride-btn" mat-raised-button (click)="endRide()">END RIDE</button>
        <button mat-button (click)="showMarkerssss()">rute</button>
    </div>

    
</div>
