<div class="app-ride-page"> 

    
    <div class="app-ride-col-middle">
        <h2>Current Ride</h2>
        <div class="app-ride-map-container">
            <app-map></app-map>
        </div>
    </div>

    <div class="app-ride-col-middle app-ride-details">
        
        <div class="app-ride-details-panic">
            <button id="panic-ride-btn" mat-raised-button>PANIC</button>
        </div>

        <div class="app-ride-details-col-left">
            <p class="app-ride-details"> <mat-icon>location_on</mat-icon> Destination</p>
            <p class="app-ride-details"> Time Elapsed: </p>
            <p> Estimated <span>12</span> minutes left </p>
            <p class="app-ride-details"> Kilometers travelled:  </p>

        </div>
        <div class="app-ride-details-col-right">
            <p class="app-ride-details">18:20:00</p>
        </div>
        <button id="end-ride-btn" mat-raised-button>END RIDE</button>
    </div>

</div>
