<div mat-dialog-content>
    <p>Reset your password</p>
    <mat-form-field appearance="outline">
      <mat-label>Old password</mat-label>
      <input matInput type="password" name="oldPassword" [(ngModel)]="oldPassword">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input matInput type="password" name="newPassword" [(ngModel)]="newPassword">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Repeat new password</mat-label>
        <input matInput type="password" name="newPasswordRepeated" [(ngModel)]="newPasswordRepeated">
      </mat-form-field>
    
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="requestCode()" style="background-color: #24ED80;">Change password</button>
  </div>
  