form {
    margin: 55px;
  }

::ng-deep div.mat-grid-tile-content{
    display: block !important;
    margin: 5vw;
  }

button {
    margin:auto !important;
    margin-top: 5vh !important;
    margin-bottom: 2vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24vw;
    height: 2.75em !important;
    background-color: black !important;
}

.app-reg-col > * {
    width: 80% !important;
    margin-left: 4vw !important;
    margin-right: 4vw !important;
}

.app-reg-col {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.app-reg-instruction {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-weight: 500;
}

h2 {
  margin-top: 10vh;
  font-size: x-large;
}

button:hover {
  background-color: #405241 !important;
}

.app-page-padding-bottom {
  padding-bottom: 10vh;
  display: block;
}
