.app-ride-map-container {
    padding: 2vh;
    width: 800px;
    height: 50vh;
}

.app-ridehistory-details {
    font-size: 1em;
    font-weight: 425;
    margin-bottom: 0 !important;
}

.app-ride-details-col-left {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    padding-left: 2vw;
}
.app-ride-details-col-right {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.mat-icon {
    font-size: 0.85em;
}

.app-ride-passengers {
    padding-left: 2vw;
    margin-top: 4vh;
}

