<div class="flex-container">
    <div class="left-part">
        <app-map class="map-container"></app-map>
    </div>
    <div class="right-part">
        <p> <mat-icon class="inline-icon">location_on</mat-icon>Neka lokacija</p>
        <p> <mat-icon class="inline-icon">flag</mat-icon>Neka lokacija</p>
        <p>Request time:<span>2w232</span></p>
        <p>Estimated time:<span>2ws232</span></p>
        <p>Distance:<span>2wdd232</span></p>

        <div class="align">
            <button class="green-button" (click)="startRide()">Start</button>
            <button class="red-button" (click)="declineRide()">Decline</button>
        </div>
    </div>
</div>
