<div class="main-landing">
  <div class="map-container">
    <!-- <img src="assets/map.png" alt="nesto"> -->
    <app-map></app-map>
  </div>

  <div class="right-form">
    <div class="form-params">
      <p class="form-title">Check out time and price<br> for your route</p>
      <mat-form-field appearance="outline">
        <mat-label>Departure</mat-label>
        <mat-icon matPrefix class="input-icon">location_on</mat-icon>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Destination</mat-label>
        <mat-icon matPrefix class="input-icon">flag</mat-icon>
        <input matInput>
      </mat-form-field>
    </div>

    <div class="calculated-data">
      <div class="data">
        <p>Estimated time: </p>
        <p>80min</p>
      </div>
      <div class="data">
        <p>Estimated price: </p>
        <p>$80</p>
      </div>
    </div>
  </div>

</div>