<div class="flex-container app-page">
    <app-basic-user-information class="flex-elem"></app-basic-user-information>
    <div class="flex-elem2">
        <button (click)="openNoteDialog()" mat-button> <mat-icon>notes</mat-icon> VIEW NOTES</button>
        <button *ngIf="!isBlocked" id="block-button" (click)="onBlockClick()" mat-button>Block</button>
        <button *ngIf="isBlocked" id="unblock-button" (click)="onUnblockClick()" mat-button>Unblock</button>

        <app-driver-vechicle></app-driver-vechicle>
        <app-driver-documents></app-driver-documents>
        <button id="ride-history-button" mat-button [routerLink]="['../ride-history']">
            Ride history
        </button>
    </div>
</div>