<div class="flex-container app-page">
    <app-basic-user-information class="flex-elem"></app-basic-user-information>
    <div class="flex-elem2">
        <button (click)="openNoteDialog()" mat-button> <mat-icon>notes</mat-icon> VIEW NOTES</button>
        <button *ngIf="!isBlocked" id="block-button" (click)="onBlockClick()" mat-button>BLOCK</button>
        <button *ngIf="isBlocked" id="unblock-button" (click)="onUnblockClick()" mat-button>UNBLOCK</button>
        <mat-divider></mat-divider>
        <button id="ride-history-button" mat-button [routerLink]="['../ride-history']">
            <mat-icon>history</mat-icon> RIDE HISTORY
        </button>
        <app-driver-vechicle></app-driver-vechicle>
        <app-driver-documents></app-driver-documents>
    </div>
</div>