<div class="app-manacc-page">
    <h2>Managing driver accounts</h2>
    <mat-divider></mat-divider>
    <div class="grid">
        <div *ngFor="let request of changeRequestResponce.requestDTOS">
            <mat-card>
                <mat-card-header (click)="viewRequest(request)">
                    <div class="app-reg-col-name">
                        <mat-card-title>{{request.userDTO.name}} {{request.userDTO.surname}}</mat-card-title>
                        <mat-card-subtitle>requested: {{request.date}}</mat-card-subtitle>
                    </div>
                    <div class="app-reg-col-pic">
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </div>
                  
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content (click)="viewRequest(request)" class="padding-left">
                    <p class="margin-top">Vehicle model: {{request.vehicleDTO.model}}</p>
                    <p>Registration plate: {{request.vehicleDTO.licenseNumber}}</p>
                </mat-card-content>
                <mat-card-actions class="padding-left">
                    <button class="black-button" mat-button (click)="acceptRequest(request)">Accept</button>
                    <button class="gray-button" mat-button (click)="viewRequest(request)">View</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>