<div class="app-manacc-page">
    <h2>Managing driver accounts</h2>
    <mat-divider></mat-divider>
    <div class="grid">
        <div>
            <mat-card (click)="viewRequest(0)">
                <mat-card-header>
                    <div class="app-reg-col-name">
                        <mat-card-title>Ime i prezime</mat-card-title>
                        <mat-card-subtitle>11.111.111</mat-card-subtitle>
                    </div>
                    <div class="app-reg-col-pic">
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </div>
                  
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <p></p>
                    <p></p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Accept</button>
                    <button mat-button>View</button>
                  </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>