<div mat-dialog-content>
    <p>Add name for favorite</p>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" [(ngModel)]="name"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions id="actions">
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onSaveClick()" style="background-color: #24ED80;">Save</button>
</div>