<div mat-dialog-content>
    <p>Provide explanation for blocking user</p>
    <mat-form-field appearance="outline">
      <mat-label>Explanation</mat-label>
      <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" [(ngModel)]="explanation"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onBlockClick()" style="background-color: #24ED80;">Block</button>
  </div>