.toolbar_color {
  background-color: black;
}

mat-toolbar{
  margin-bottom: 10vh;
}

.example-spacer {
  flex: 1 1 auto;
}

.white-text {
  color: white;
}

.red-text {
  color: red;
}

.center-text {
  margin: 0 auto;
  /* text-align: center; */
}

.bigger-text {
  font-size: larger;
}