
<div class="container">
  <div class="conditions">
    <form [formGroup]="conditionFormGroup" id="condition-form">
      <mat-radio-group aria-label="Select an option" formControlName="condition">
        <mat-radio-button value="number-of-rides">Number of rides</mat-radio-button>
        <mat-radio-button value="km">Kilometers</mat-radio-button>
        <mat-radio-button value="price">Money</mat-radio-button>
      </mat-radio-group>
    </form>
    <mat-form-field appearance="outline" class="select-and-date" *ngIf="isAdmin">
      <mat-label>User email</mat-label>
      <input matInput type="text" placeholder="User email" [(ngModel)]="userEmail">
    </mat-form-field>
    <mat-form-field appearance="outline" class="select-and-date">
      <mat-label>Start time</mat-label>
      <input matInput type="datetime-local" placeholder="Start time" [(ngModel)]="filterStartDate">
    </mat-form-field>
    <mat-form-field appearance="outline" class="select-and-date">
      <mat-label>End time</mat-label>
      <input matInput type="datetime-local" placeholder="End time" [(ngModel)]="filterEndDate">
    </mat-form-field>
    <button mat-button class="show-button" (click)="fetchRides()">Show</button>
    <button mat-button class="pdf-button" (click)="exportToPdf()">To PDF</button>
  </div>

  <div class="conditions" *ngIf="isAdmin">
    <mat-checkbox [(ngModel)]="showPassengers"></mat-checkbox>
    <p>Passengers</p>
    <mat-checkbox [(ngModel)]="showDrivers"></mat-checkbox>
    <p>Drivers</p>
    <button mat-button class="show-button" (click)="fetchGroupRides()">Show group</button>
  </div>

  <canvas id="myChart"></canvas>
</div>