.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.basic-info{
    width: 50%;
    margin-bottom: 5vh;
}

@media (max-width: 850px) {
    .basic-info{
        width: 100%;
        margin-bottom: 5vh;
    }
}

